.container_wrapper {
    width: 100%;
    background-color: #BACBDC;
}
.wrapper {
    position: relative;
    width: 100%;
    max-width: 1510px;
    overflow: hidden;
    background-color: white;
    margin: auto;
          
}
.contacts {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1510px;
    height: 50px;
    color: black;
    background-color: white;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    line-height: normal;
    font-size: 24px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    

}

.contacts_text {
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: space-between;
    
}

.logo {
    display: flex;
    align-items: center;
    background-color: white;
    padding-top: 100px;
    margin-left: 50px;
}

.logo_logo {
    font-family: 'Puritan', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 48px;
    letter-spacing: 0.1em;
    color: black;
    padding-left: 30px;
}

.menu {
    max-width: 1510px;
    height: 125px;
    display: flex;
    background-color:white;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    line-height: normal;
    font-size: 18px;
    padding-left: 50px;
    
}

.menu_tab {
    display: table;
    width: 40%;
    padding-top: 5%;
    margin: 0;
    padding-left: 0;
}
.it_left {
    display: table-cell;
    text-align: left;
}
.it {
    display: table-cell;
    text-align: center;
}
.line {
text-decoration: none;
color: #000000;
}

a.line:hover {
    border-top: 2px solid black;
    transition-property: all;
    transition-duration: 200ms;
}

.kyb_fon_white {
    width: 40vw;
    height: 40vw;
    transform: rotate(45deg);
    background-color: white;
    position: relative;
    z-index: 1;
    left: 8vw;
    top: -36vw;

}
.kyb_fon_white2 {
    width: 40vw;
    height: 40vw;
    transform: rotate(45deg);
    background-color: white;
    position: relative;
    z-index: 1;
    left: 80vw;
    top: -75vw;

}
.conteiner_kybi {
    width: 1000px;
    height: 1000px;
    transform: rotate(45deg);
    position: relative;
    z-index: 3;
    right: 0;
    left: 100px;
    top: 150px;
      
}
.kub_white {
    position: absolute;
    z-index: 1;
    width: 29.8vw;
    height: 29.8vw;
    left: 20%;
    top: 29.8vw;
    z-index: 2;
}
kub1 {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: relative;
    width: 600px;
    height: 600px;   
}

.kub1_bordo {
    position: absolute;
    height: 29.8vw;
    width: 29.8vw;
    background-color: #BA9898;
    transform: rotate(0deg);
    top: 0;
}
.kub1_seryi {
    position: absolute;    
    width: 2.5vw;
    height: 2.5vw;
    background: #435465;
    }
.kub1_belyi {
    position: absolute;    
    width: 5vw;
    height: 5vw;
    top: -2px;
    left: -2px;
    background: white;
}
.bordo_flex {
    width: 30vw;
    height: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.kub1_bordo_text {
    transform: rotate(-45deg);
    font-family: 'Ubuntu', sans-serif;
font-style: normal;
font-weight: normal;
line-height: 31px;
font-size: 1.2vw;
text-align: center;
margin-top: -25px;
}

button {
    margin-top: 2vw;
    background-color:  #BA9898;
    width: 13vw;
    height: 3vw;
    font-family: 'Ubuntu', sans-serif;
font-style: normal;
font-weight: normal;
line-height: 31px;
font-size: 1.2vw;
text-align: center;
border: 1px solid #000000;
box-sizing: border-box;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

.kub2_svser {
    position: absolute; 
    height: 206px;
    width: 206px;
    background-color: #BACBDC;
   
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    right: -206px;
    top: 95px;
}
.kybiki_svser {
    width: 206px;
    height: 206px;
}
.kybiki_svser1 {
    width: 25px;
    height: 25px;
    background-color: #BACBDC;
}
.kybiki_svser2 {
        width: 50px;
        height: 50px;
        background-image: url(../img/ocean.svg);
    }
.kub2_text {
    position: absolute;
    font-family: 'Ubuntu', sans-serif;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 18px;
text-align: center;
transform: rotate(-45deg);
display: flex;
flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 137px;
    height: 213px;
}
.kub_foto_girl {
    position: relative;
    width: 36.5vw;
    height: 36.5vw;
    overflow: hidden;
    left: 30vw;
    top: -3vw;
    z-index: 1;
    margin-top: -350px;
    
}

.foro_girl {
    position: absolute;
    transform: rotate(-45deg);
    top: -55px;
    left: -125px;

}

.kub3_svser {
    position: absolute;
    width: 60px;
    height: 60px;
    transform: rotate(0deg);
    background: #BACBDC;

}
.kub4 {
    position: absolute;
    bottom: 0;
    right: 0;
   
}
.kub_foto_house {
    width: 200px;
    height: 200px;
    position: relative;
    background: #F1F1F1;
    overflow: hidden;
   
}
.foto_house{
    position: absolute;
    transform: rotate(-45deg);
    top: -35px;
    left: -60px;

}
.container_rovno_fon {
    width: 100%;
    max-width: 1510px;
    height: 1px;
    position: relative;
    background-color: yellowgreen;
}
.education2 {
        background-image: url(../img/img_sea_background.png);
        width: 100%;
        max-width: 1510px;
        color: white;
        position: absolute;
        top: -95vw;
        bottom: 0;
        background-repeat: no-repeat;
        background-size: cover;
   overflow: hidden;
}

.edu_center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 475px;
    padding-bottom: 10px;
    position: relative;
    z-index: 3;
}

.logo2_2 {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 24px;
    color: white;
    padding: 30px;
}
.education2_0 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 10%;
    margin-top: 2%;
    position: relative;
    z-index: 2;

}

.education_blok {
    background: rgba(0, 0, 0, 0.4);
    width: 450px;
    height: 275px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4%;
    margin: 1%;
}

.kegl_b {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 18px;
}
.kegl_m {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 14px;
}
.line_white {
    color: white;
    text-decoration-line: none;
}

a.line_white:hover {
    text-decoration-line: underline;
    
}

.rombik {
    position: relative;
    width: 0.8vw;
    height: 0.8vw;
    background: #FFFFFF;
    transform: rotate(45deg);
}
.education2_3 {
    background: rgba(0, 0, 0, 0.4);
    width: 450px;
    height: 275px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4%;
    padding-bottom: 7%;
    margin: 1%;
}    
.ballast {
    
}
.ar {
    margin-left: 5px;
}
.advanteges {
    position: relative;
    width: 100%;
    max-width: 1510px;
    height: 62vw;
    background: #112132;
    overflow: hidden;
}

.seryi_container {
    position: relative;
    width: 26vw;
    height: 26vw;
    background: #778798;
    transform: rotate(-45deg);
    display: flex;
    justify-content: center;
    align-items: center;
    top: 6vw;
    left: 33.3vw;

}
.seryi_flex {
    position: absolute;
    transform: rotate(45deg);
    width: 21vw;
    height: 21vw;

}
.kub3a_seryi {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 21vw;
    height: 21vw;

}
.tex_kub_seryi {
    font-family: 'Ubuntu', sans-serif;
font-style: normal;
font-weight: normal;
line-height: 2vw;
font-size: 1.2vw;
text-align: center;
color: white;
}
.bordo_container {
    
    transform: rotate(45deg);
    left: 63vw;
    top: 6.5vw;
    position: absolute;
}
.kub3a_bordo {
    position: relative;
    background-color: #432132;
    width: 20vw;
    height: 20vw;

}
.kub_v_kube {
    position: absolute;
    width: 20vw;
    height: 20vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transform: rotate(-45deg);
}
.kubik_vbordo {
    position: absolute;
    width: 2.5vw;
    height: 2.5vw;
    transform: rotate(0deg);
    background: #435465;
    margin: 5%;
}
.logo_vkube3a {
    font-family: 'Ubuntu', sans-serif;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 1.5vw;
text-align: center;
position: relative;
margin-top: 1vw;
color: white;
}

.container_teacher {
    width: 15vw;
    height: 15vw;
    position: relative;
    overflow: hidden;
    transform: rotate(45deg);
    top: -110vw;
    left: 56vw;

}
.foto_teacher {
    top: 30px;
    position: absolute;
    max-width: 100%;
    transform: rotate(-45deg) scale(1.15);
}
.white_teacher {
    width: 2vw;
    height: 2vw;
    background-color: white;
    border: 3px solid white;
}
.blue_teacher {
    width: 4vw;
    height: 4vw;
    background-color: #112132;
    position: relative;
    z-index: 1;
}
.container_cabinet {
    position: relative;
    width: 39vw;
    height: 39vw;
    overflow: hidden;
    transform: rotate(-45deg);
    top: -52vw;
    left: 33vw;
}
.cabinet_foto {
    left: 12vw;
    top: 1vw;
    position: absolute;
    max-width: 100%;
    transform: rotate(45deg) scale(1.5);
    
}
.container_cup {
    position: relative;
    width: 31vw;
    height: 31vw;
    overflow: hidden;
    transform: rotate(-45deg);
    top: -73vw;

}
.cup_foto {
    position: absolute;
    max-width: 100%;
    transform: rotate(45deg) scale(1.42); 
    left: -70px;
    top: 25px;
}
.container_nature {
    position: relative;
    width: 25vw;
    height: 25vw;
    overflow: hidden;
    transform: rotate(-45deg);
    top: 3vw;
    left: 15vw;
}
.nature_foto {
    position: absolute;
    max-width: 100%;
    transform: rotate(45deg) scale(1.42); 
}
.nature_foto_ {
    position: absolute;
    margin: auto;
    top: 3vw;
    left: 15vw;

}
.kub_vkube_nature {
    width: 7vw;
    height: 7vw;
    background-color: #112132;
    border: 3px solid #112132;
    position: absolute;
}
.container_student {
    position: relative;
    width: 16vw;
    height: 16vw;
    overflow: hidden;
    transform: rotate(-45deg);
    top: -25vw;
    left: 76vw;
}
.kub_vkube_student {
    width: 4vw;
    height: 4vw;
    top: 0;
    left: 0;
    z-index:4;
    background-color: #112132;
    border: 5px solid #112132;
    position: absolute;
}
.student_foto {
    position: absolute;
    max-width: 100%;
    transform: rotate(45deg) scale(1.1);
    top: -5vw;
    left: -2vw;
}
.fon_slaider {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;  
    max-width: 1510px;  
    min-height: 670px;
    height: 1px;
    background-image: url(../img/img_sea_background.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.slaider_index {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    padding: 5px;
}
.gradient_slaider {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, rgba(30, 30, 30, 0.8) 0%,
    rgba(16, 16, 16, 0) 54.14%, rgba(16, 16, 16, 0) 54.15%, 
    rgba(2, 2, 2, 0.6) 100%); 
    background-size: contain;   
   
}
.text_padding {
    padding: 50px;
    color: white;
}
.education4 {
    font-family: 'Ubuntu', sans-serif;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 24px;
text-align: center;   
}

.slaider {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 930px;
    height: 335px;
    background: rgba(0, 0, 0, 0.4);
    font-family: 'Ubuntu', sans-serif;
font-style: normal;
line-height: 25px;
font-size: 18px;
text-align: center;
color: white;
}
.slaider_text {
    width: 690px;
    height: 125px;
  
}
.rombik_flex {
    width: 20%;
    display: flex;
    justify-content: space-between;

}
.rombik_border {
    position: relative;
    width: 11px;
    height: 11px;
    transform: rotate(45deg);
    border: 1px solid #FFFFFF;
box-sizing: border-box;
}
.container_slaider {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 930px;
    
}
.container_strelka {
    position: absolute;
    width: 850px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
   
.text_bold {
    font-weight: bold;
    margin: 20px;
}
.text_normal {
    font-weight: normal;
}

.container_about {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;    
    min-height: 617px;
    height: 1px;
    background-image: url(../img/footer.png);
    background-repeat: no-repeat;
    background-size: cover;
       

}
.about {
    display: flex;
    justify-content: space-around;
    position: absolute;
    width: 100%; 
    margin-top: 7%;
}

.about1 {
    display: flex;
    align-items: center;
    height: 95px;

}
.about2 {
    display: flex;
    height: 95px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}
.ikonki {
    width: 175px;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
}
.text_about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 30px;
}

.text_about2 {
font-family: 'Ubuntu', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
color: white;
}
.text_pad {
padding-top: 5px;
}

.about3 {
    height: 95px;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 25px;
    font-size: 18px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.about_footer {
    position: relative;
    width: 100%;
    max-width: 1510px;
    min-height: 617px;
    height: 1px;
}
img.m {
    width: 100%; 
    height: auto; 
  }

.logo_text_about {
    font-family: 'Puritan', sans-serif;
    font-style: normal;
font-weight: normal;
line-height: 64px;
font-size: 48px;
letter-spacing: 0.1em;
color: white;
}
.logo_text_about2 {
    font-family: 'Ubuntu', sans-serif;
font-style: normal;
font-weight: normal;
line-height: 25px;
font-size: 18px;
color: white;
}

.footer {
    position: relative;
   
    width: 100%;  
    max-width: 1510px;  
    min-height: 340px;
    height: 1px;
    background-image: url(../img/map.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.map {
    width: 100%;
    height: 100%;     
    margin: 0 auto;
    position: absolute;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    background-size: cover;
}
.footer_logo {
    position: relative;
    z-index: 2;
    font-family: 'Puritan', sans-serif;
font-style: normal;
font-weight: normal;
line-height: 32px;
font-size: 24px;
letter-spacing: 0.1em;
color: #000000;
}
.footer_metka {
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 70px;
    left: 370px;
}

.metka {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.kryg {
    position: absolute;
    top: 44px;
}

@media (min-width: 1510px) {
    .kyb_fon_white {
        width: 600px;
        height: 600px;
      
        left: 125px;
        top: -550px;
    }
    .kyb_fon_white2 {
        width: 600px;
        height: 600px;
      
        left: 1225px;
        top: -1125px;
    
    }
    .conteiner_kybi {
        width: 1000px;
        height: 1000px;
        
        left: 100px;
        top: 150px;
          
    }
    .kub_white {
     
        width: 450px;
        height: 450px;
      
        top: 450px;
       
    }
       
    .kub1_bordo {
        
        height: 450px;
        width: 450px;
        
    }
    .kub1_seryi {
          
        width: 36px;
        height: 36px;
       
        }
    .kub1_belyi {
        
        width: 75px;
        height: 75px;
        top: -2px;
        left: -2px;
       
    }
    .bordo_flex {
        width: 480px;
        height: 480px;
      
    }
    .kub1_bordo_text {
  
    line-height: 31px;
    font-size: 18px;

    margin-top: -25px;
    }
    
    button {
        margin-top: 25px;
     
        width: 210px;
        height: 45px;
   
    line-height: 31px;
    font-size: 18px;
    }   
    .kub2_svser {
      
        height: 206px;
        width: 206px;
       
        right: -206px;
        top: 95px;
    }
    .kybiki_svser {
        width: 206px;
        height: 206px;
    }
    .kybiki_svser1 {
        width: 25px;
        height: 25px;
       
    }
    .kybiki_svser2 {
            width: 50px;
            height: 50px;
            
        }
    .kub2_text {
     
    font-size: 18px;
  
        width: 137px;
        height: 213px;
    }
    .kub_foto_girl {
       
        width: 620px;
        height: 620px;
        
        left: 700px;
      
        margin-right: 50px;
        margin-bottom: 300px;
        margin-top: -350px;
        margin-left: -265px;
    }
    
    .foro_girl {
       
        top: -55px;
        left: -125px;
    
    }
    
    .kub3_svser {
      
        width: 60px;
        height: 60px;
       ;
    
    }
  
    .kub_foto_house {
        width: 200px;
        height: 200px;
        
       
    }
    .foto_house{
        top: -35px;
        left: -60px;
    
    }
    .advanteges {
    
        height: 925px;
      
    }
    
    .seryi_container {
       
        width: 400px;
        height: 400px;
     
        top: 85px;
        left: 515px;
    
    }
    .seryi_flex {
   
        width: 303px;
        height: 303px; 
    }
    .kub3a_seryi {
      
        width: 303px;
        height: 303px; 
    }
    .tex_kub_seryi {
   
    line-height: 25px;
    font-size: 18px;
   
    }
    .kub3a_bordo {
       
        width: 310px;
        height: 310px; 
    
    }
    .kub_v_kube {
     
        width: 310px;
        height: 310px;
       
    }
    .kubik_vbordo {
     
        width: 45px;
        height: 45px;
     
    }
    .logo_vkube3a {
  
    font-size: 24px;
    
    margin-top: 5px;
   
    }
    .bordo_container {
            left: 975px;
        top: 100px;
       
    }
    .container_teacher {
        width: 228px;
        height: 228px;
    
        bottom: 100px;
        left: 200px;
       
        top: -1675px;
        left: 855px;
    }
    .foto_teacher {
        top: 30px;
    
    }
    .white_teacher {
        width: 30px;
        height: 30px;
 
    }
    .blue_teacher {
        width: 60px;
        height: 60px;
      
    }
    .container_cabinet {
     
        width: 600px;
        height: 600px;
   
        top: -775px;
        left: 510px;
    }
    .cabinet_foto {
        left: 250px;
        top: -10px;
     
    }
    .container_cup {
      
        width: 450px;
        height: 450px;
    
        top: -1100px;
    
    }
    .cup_foto {
     
        left: -70px;
        top: 25px;
    }
    .container_nature {
      
        width: 400px;
        height: 400px;
      
        top: 40px;
        left: 240px;
    }
    .nature_foto {
            transform: rotate(45deg) scale(1.42); 
    }
    .kub_vkube_nature {
        width: 80px;
        height: 80px;
       
    }
    .container_student {
       
        width: 250px;
        height: 250px;
       
        top: -375px;
        left: 1150px;
    }
    .kub_vkube_student {
        width: 55px;
        height: 55px;
       
    }
    .student_foto {
        top: -70px;
        left: -35px; 
    }
}


@media (max-width: 1600px) and (min-width: 1450px) {
   
}

@media (max-width: 1300px) and (min-width: 1125px) {
    .contacts_text {width: 45%;}
}

@media (max-width: 1125px) and (min-width: 1000px) {
    .contacts_text {width: 50%;}
}

@media (max-width: 1100px) and (min-width: 875px) {
    .contacts_text {width: 55%;}
}

@media (max-width: 875px) and (min-width: 675px) {
    .contacts_text {
        width: 75%;
        margin: 30px;
    }
        
    .contacts {
        flex-direction: column;
    }
    .logo {
        display: flex;
        justify-content: center;
        padding-left: 0;
    }
    .about {
        width: 98%;
    }

    .text_about2 {
        font-size: 12px;
    }
    .about3 {
        font-size: 12px;
    }
    .text_about { padding-left: 10px; 
    }

    .slaider {
        width: 600px;
        font-size: 16px;
        }
       .container_strelka {
        width: 550px;
       }
       .slaider_text {
        width: 450px;
        height: 120px;
    }

}




@media (max-width: 675px) {
    .contacts_text {
        width: 100%;
        margin: 20px;
    }
        
    .contacts {
        flex-direction: column;
        font-size: 22px;
    }
    .menu_tab {
        width: 100%;
        
    }
    .menu {
        padding-left: 0;
        font-size: 14px;
    }
    .logo {
        display: flex;
        justify-content: center;
        padding-left: 0;
    }
    .it_left {
        text-align: center;

    }
    .about {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10%;
    }
    .about2 {
        margin: 5%;
    }
    .about3 {
        text-align: center;
        margin: 3%;
    }
    
    .education2_0 {
    flex-direction: column;
}

.slaider {
    width: 450px;
    font-size: 12px;
    }
   .container_strelka {
    width: 375px;
   }
   .slaider_text {
    width: 300px;
    height: 125px;
  }
  .education4 {
   font-size: 20px;
}
fon_slaider {
    background-image: none;
    background-color: #112132;
}
container_about {
        background-image: none;
        background-color:  #432132;
    }

}

@media (max-width: 1000px) and (min-width: 675px) {
    .menu_tab {
        width: 100%;
        }    
}

@media (max-width: 445px) {
        .contacts_text {
            width: 100%;
            margin: 20px;
        }
            
        .contacts {
            flex-direction: column;
            font-size: 14px;
        }
        .menu_tab {
            width: 100%;
            
        }
        .menu {
            padding-left: 0;
            font-size: 10px;
        }
        .logo {
            display: flex;
            justify-content: center;
            padding-left: 0;
        }
        .it_left {
            text-align: center;
    
        }
        
        .slaider {
            width: 300px;
            font-size: 10px;
            }
           .container_strelka {
            width: 275px;
           }
           .slaider_text {
            width: 250px;
            height: 150px;
          }
          .education4 {
           font-size: 16px;
        }
    .fon_slaider {
            background-image: none;
            background-color: #112132;
        }
    .footer {
        background-image: none;
    }
    .container_about {
        background-image: none;
        background-color:  #432132;
    }
}

    @media (max-width: 1000px) and (min-width: 875px) {
        .about {
            width: 97%
        }
        .text_about {
            padding-left: 15px;
        }

        .slaider {
        width: 800px;
        }
       .container_strelka {
        width: 700px;
       }
       .slaider_text {
        width: 550px;
        height: 125px;      
    }
}
