.wrapper {
    position: relative;
    width: 100%;
    max-width: 360px;
    height: 100%;
    overflow: hidden;
    background-color: white;
    margin: auto;
          
}
.contacts {
    position: relative;
     width: 100%;
    max-width: 360px;
    min-height: 420px;
    height: 1px;
    background-image: url(../img/img_fon_header_adaptiv.png);
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    line-height: normal;
    font-size: 24px;
    overflow: hidden;
    color:  white;
    background-repeat: no-repeat;
    background-size: cover;
}
.gradient_contact {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background: rgba(0, 0, 0, 0.4); 
        background-size: contain;

}
.contacts_text {
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    right: 10px;
    top: -45px;
}
.kegl_13 {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 13px; 
}
.kegl_m {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 12px; 
}

.line_white {
    color: white;
    text-decoration-line: none;
}

a.line_white:hover {
    text-decoration-line: underline;
    
}
.menu {
    position: relative;
    z-index: 3;
    width: 26px;
    height: 19px;
    left: 25px;
    top: -30px;
}
.romb {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    width: 135px;
    height: 135px;
    background:  #BACBDC;
    transform: rotate(45deg);
    margin-top: -75px;
    margin-left: auto;
    margin-right: auto;

}
.logo_logo {
    position: relative;
    z-index: 4;
    font-family: 'Puritan', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 22px;
    text-align: center;
    letter-spacing: 0.1em;
        color: black;
        
    }
.logo_contacts {
    width: 100%;
    max-width: 360px;
    
    position: relative;
    height: 175px;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 75px;
    transform: rotate(-45deg);
}
.text_main {
    position: relative;
    z-index: 3;
    font-family: 'Ubuntu', sans-serif;
font-style: normal;
font-weight: normal;
line-height: 21px;
font-size: 12px;
text-align: center;
top: 20px;

}
.text_maim_pad {
    margin-bottom: 15px;
}
.text_maim_line {
    line-height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

}
.rombik_m {

        position: relative;
        width: 8px;
        height: 8px;
        background: #FFFFFF;
        transform: rotate(45deg);

}
.button {
    top: 10px;
    position: relative;
    z-index: 3;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
   width: 150px;
    height: 45px;
    font-family: 'Ubuntu', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 12px;
text-align: center;
border: 1px solid #FFFFFF;
box-sizing: border-box;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    }


.education2 {
        background-image: url(../img/img_sea_background.png);
        width: 100%;
        max-width: 360px;
        color: white;
        position: relative;
        bottom: 0;
        background-repeat: no-repeat;
        background-size: cover;
   overflow: hidden;
}
.edu_center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    position: relative;
    z-index: 3;
}
.logo2_2 {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 12px;
    color: white;
    padding: 30px;
}
.education2_0 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 10%;
    margin-top: 2%;
    position: relative;
    z-index: 2;
}
.education_blok {
    background: rgba(0, 0, 0, 0.4);
    width: 300px;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 7%;
    margin: 3%;
}
.kegl_b {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 14px;
}
.rombik {
    position: relative;
    width: 11px;
    height: 11px;
    background: #FFFFFF;
    transform: rotate(45deg);
}
.education2_3 {
    background: rgba(0, 0, 0, 0.4);
    width: 300px;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 7%;
    padding-bottom: 17%;
    margin: 4%;
}    
.ar {
    margin-left: 5px;
}
.advanteges {
    position: relative;
    width: 100%;
    max-width: 360px;
    height: 600px;
    background: #112132;
    overflow: hidden;
}
.advanteges_rovno {
    position: relative;
    width: 100%;
    max-width: 350px;
    margin: auto;
}
.seryi_container {
    position: relative;
    top: 290px;
    margin-left: auto;
    margin-right: auto;
    width: 220px;
    height: 220px;
    background: #435465;
    transform: rotate(-45deg);
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.kubik_ser_b {
    position: absolute;
    width: 45px;
    height: 45px; 
    background: #112132;
    top: -1px;
    right: -1px;
}
.kubik_ser {
    position: absolute;
    width: 24px;
    height: 24px; 
    background: #BA9898;
    top: 0;
    right: 0;
}
.kubik_ser_bor {
    position: absolute;
    width: 33px;
    height: 33px; 
    background: #432132;
    left: 7px;
    top: 7px;
}
.seryi_flex {
    position: absolute;
    transform: rotate(45deg);
    width: 220px;
    height: 220px; 
}

.kub3a_seryi {
    position: relative;
    top: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 220px;
    height: 150px; 
}

.tex_kub_seryi {
    font-family: 'Ubuntu', sans-serif;
font-style: normal;
font-weight: normal;
line-height: 17px;
font-size: 12px;
text-align: center;
color: white;

}
.bordo_container {
    
    background-color: #432132;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: -175px;
    width: 145px;
    height: 145px; 
    transform: rotate(45deg);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.kub3a_bordo{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 145px;
    height: 145px;

}
.kub_v_kube {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 15px;
    left: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transform: rotate(-45deg);
}
.kubik_vbordo {
    position: absolute;
    width: 20px;
    height: 20px;
    transform: rotate(0deg);
    background: #435465;
   
}
.kubik_vbordo_b {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0;
    left: 0;
    transform: rotate(0deg);
    background: #112132;
    
}
.logo_vkube3a {
    font-family: 'Ubuntu', sans-serif;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 14px;
text-align: center;
position: relative;
padding: 20px;
color: white;
    
}
.container_student_cabinet {
    position: relative;
    top: -185px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container_cabinet {
    display: flex;
    position: relative;
    width: 105px;
    height: 105px;
    overflow: hidden;
    transform: rotate(-45deg);
    margin-left: -200px;
}
.cabinet_foto {
    
    top: -150px;
    left: -50px;
    position: absolute;
    max-width: 100%;
    transform: rotate(45deg) scale(0.48);
    
}

.kub_vkube_nature {
    width: 80px;
    height: 80px;
    background-color: #112132;
    border: 3px solid #112132;
    position: absolute;
}
.container_student {
    position: absolute;
    width: 105px;
    height: 105px;
    overflow: hidden;
    transform: rotate(-45deg);
    margin-left: 100px;
    
}
.kub_vkube_student {
    width: 55px;
    height: 55px;
    background-color: #112132;
    border: 3px solid #112132;
    position: absolute;
}
.student_foto {
    left: -125px;
    top: -115px;
    position: absolute;
    transform: rotate(45deg) scale(0.47);
    
}
.fon_slaider {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;  
    max-width: 360px;  
    min-height: 495px;
    height: 1px;
    background-image: url(../img/img_backgound_adaptiv.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.slaider_index {
    position: absolute;
    top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 2;
  
}
.gradient_slaider {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, rgba(30, 30, 30, 0.8) 0%,
    rgba(16, 16, 16, 0) 54.14%, rgba(16, 16, 16, 0) 54.15%, 
    rgba(2, 2, 2, 0.6) 100%); 
    background-size: contain;   
}
.text_padding {
    padding: 30px;
    color: white;
}
.education4 {
    position: relative;
    font-family: 'Ubuntu', sans-serif;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 14px;
text-align: center;                 
}

.slaider {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 280px;
    height: 210px;
    background: rgba(0, 0, 0, 0.4);
    font-family: 'Ubuntu', sans-serif;
font-style: normal;
line-height: 17px;
font-size: 12px;

color: white;
}
.slaider_text {
    width: 218px;
height: 154px;
  
}
.rombik_flex {
    position: relative;
    z-index: 2;
    top:175px;
    width: 55%;
    display: flex;
    justify-content: space-between;
    position: relative;

}
.rombik_border {
    position: relative;
    width: 11px;
    height: 11px;
    transform: rotate(45deg);
    border: 1px solid #FFFFFF;
box-sizing: border-box;
}
.container_slaider {
    position: relative;
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 360px;
    
}
.container_strelka {
    position: absolute;
    width: 340px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
   
.text_bold {
    font-weight: bold;
}
.text_normal {
    font-weight: normal;
    margin-top: 20px;
    line-height: 20px;
}

.container_about {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%; 
    max-width: 360px;   
    height: 480px;
    background-image: url(../img/img_footer_adaptiv.png);
    background-repeat: no-repeat;
    background-size: cover;
       

}
.about {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    width: 100%; 
}

.about1 {
    position: relative;
    top: -90px;
    left: 45px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
}
.ikonki {
    position: relative;
    left: 45px;
    top: 75px;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
}
.text_about {
    position: relative;
    top: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.about2 {
    position: relative;
    left: 45px;
    top: -20px;
    height: 90px;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 17px;
    font-size: 12px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.text_pad {
    padding-top: 15px;
}
.about_footer {
    position: relative;
    width: 100%;
    max-width: 360px;
    min-height: 617px;
    height: 1px;
}
img.m {
    width: 100%; 
    height: auto; 
  }

.logo_text_about {
    font-family: 'Puritan', sans-serif;
    font-style: normal;
font-weight: normal;
line-height: 24px;
font-size: 18px;
letter-spacing: 0.1em;
color: white;
}
.logo_text_about2 {
    position: relative;
    top: 5px;
    font-family: 'Ubuntu', sans-serif;
font-style: normal;
font-weight: normal;
line-height: 15px;
font-size: 14px;
color: white;
}

.footer {
    position: relative;
    min-height: 340px;
    width: 100%;  
    max-width: 360px;  
    background-image: url(../img/img_map_adaptiv.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.map {
    width: 100%;
    height: 100%;     
    margin: 0 auto;
    position: absolute;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    background-size: cover;
}
.footer_logo {
    position: relative;
    z-index: 2;
    font-family: 'Puritan', sans-serif;
font-style: normal;
font-weight: normal;
line-height: 32px;
font-size: 24px;
letter-spacing: 0.1em;
color: #000000;
}
.footer_metka {
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
        top: 190px;
    left: 160px;
}

.metka {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.kryg {
    position: absolute;
    top: 44px;
}
