.container_wrapper {
    width: 100%;
    background-color: #BACBDC;
}
.wrapper {
    position: relative;
    width: 100%;
    max-width: 1510px;
    overflow: hidden;
    background-color: white;
    margin: auto;
          
}
.contacts {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1510px;
    height: 50px;
    color: black;
    background-color: white;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    line-height: normal;
    font-size: 24px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
}
.contacts_text {
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: space-between;
}
.logo {
    display: flex;
    align-items: center;
    background-color: white;
    padding-top: 100px;
    margin-left: 50px;
}
.logo_logo {
    font-family: 'Puritan', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 48px;
    letter-spacing: 0.1em;
    color: black;
    padding-left: 30px;
}
.menu {
    max-width: 1510px;
    height: 125px;
    display: flex;
    background-color:white;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    line-height: normal;
    font-size: 18px;
    padding-left: 50px;
}
.menu_tab {
    display: table;
    width: 40%;
    padding-top: 5%;
    margin: 0;
    padding-left: 0;
}
.it_left {
    display: table-cell;
    text-align: left;
}
.it {
    display: table-cell;
    text-align: center;
}
.line {
text-decoration: none;
color: #000000;
}
a.line:hover {
    border-top: 2px solid black;
    transition-property: all;
    transition-duration: 200ms;
}
.kyb_fon_white {
    width: 41vw;
    height: 41vw;
    transform: rotate(45deg);
    background-color: white;
    position: relative;
    z-index: 1;
    left: 8.5vw;
    top: -34.5vw;
}
.kyb_fon_white2 {
    width: 40vw;
    height: 40vw;
    transform: rotate(45deg);
    background-color: white;
    position: relative;
    z-index: 1;
    left: 80vw;
    top: -75vw;
}
.conteiner_kybi {
    width: 65vw;
    height: 65vw;
    transform: rotate(45deg);
    position: relative;
    z-index: 3;
    right: 0;
    left: 8.5vw;
    top: 10vw;
}
.kub_white {
    position: absolute;
    z-index: 1;
    width: 29.8vw;
    height: 29.8vw;
    left: 20%;
    top: 29.8vw;
    z-index: 2;
}
.kub1_bordo {
    position: absolute;
    height: 31vw;
    width: 31vw;
    background-color: #BA9898;
    transform: rotate(0deg);
    top: 0;
}
.kub1_seryi {
    position: absolute;    
    width: 2.5vw;
    height: 2.5vw;
    background: #435465;
    }
.kub1_belyi {
    position: absolute;    
    width: 5vw;
    height: 5vw;
    top: -2px;
    left: -2px;
    background: white;
}
.bordo_flex {
    width: 30vw;
    height: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.kub1_bordo_text {
    transform: rotate(-45deg);
    font-family: 'Ubuntu', sans-serif;
font-style: normal;
font-weight: normal;
line-height: 31px;
font-size: 1.2vw;
text-align: center;
margin-top: -25px;
}
button {
    margin-top: 2vw;
    background-color:  #BA9898;
    width: 13vw;
    height: 3vw;
    font-family: 'Ubuntu', sans-serif;
font-style: normal;
font-weight: normal;
line-height: 31px;
font-size: 1.2vw;
text-align: center;
border: 1px solid #000000;
box-sizing: border-box;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
.kub2_svser {
    position: absolute; 
    height: 15vw;
    width: 15vw;
    background-color: #BACBDC;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    right: -16.1vw;
    top: 7.1vw;
}
.kybiki_svser {
    height: 15vw;
    width: 15vw;
    transform: rotate(90deg);
}
.kybiki_svser1 {
    position: relative;
    z-index: 1;
    width: 1.5vw;
    height: 1.5vw;
    background-color: #BACBDC;
}
.kybiki_svser2 {
    position: relative;
    z-index: 2;
    width: 3vw;
    height: 3vw;
    background-image: url(../img/ocean.svg);
}
.kub2_text {
    position: absolute;
    font-family: 'Ubuntu', sans-serif;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 1.1vw;
text-align: center;
transform: rotate(-45deg);
display: flex;
flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 9vw;
    height: 13vw;
}
.kub_foto_girl {
    position: relative;
    width: 42vw;
    height: 42vw;
    overflow: hidden;
    left: 29vw;
    top: -5vw;
    z-index: 1;
    margin-top: -20vw; 
}
.foro_girl {
    position: absolute;
    transform: rotate(-45deg) scale(0.95);
    top: -5vw;
    left: -9vw;
}
.kub3_svser {
    position: absolute;
    width: 4vw;
    height: 4vw;
    transform: rotate(0deg);
    background: #BACBDC;
}
.kub4 {
    position: absolute;
    bottom: 0;
    right: 0;
}
.kub_foto_house {
    width: 15vw;
    height: 15vw;
    position: relative;
    background: #F1F1F1;
    overflow: hidden; 
}
.foto_house{
    position: absolute;
    transform: rotate(-45deg) scale(1.2);
    top: -35px;
    left: -60px;
}
.container_rovno_fon {
    width: 100%;
    max-width: 1510px;
    height: 1px;
    position: relative;
    background-color: yellowgreen;
}
.contacts_m {
    position: relative;
     width: 100%;
    max-width: 675px;
    min-height: 420px;
    height: 1px;
    background-image: url(../img/img_fon_header_adaptiv.png);
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    line-height: normal;
    font-size: 24px;
    overflow: hidden;
    color:  white;
    background-repeat: no-repeat;
    background-size: cover;
}
.gradient_contact {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background: rgba(0, 0, 0, 0.4); 
        background-size: contain;
}
.contacts_text_m {
    max-width: 675px;
    width: 100%;
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    right: 10px;
    top: -45px;
}
.kegl_13 {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 13px; 
}
.kegl_m {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 12px; 
}
.line_white {
    color: white;
    text-decoration-line: none;
}
a.line_white:hover {
    text-decoration-line: underline;  
}
.menu_m {
    position: relative;
    z-index: 3;
    width: 26px;
    height: 19px;
    left: 25px;
    top: -30px;
}
.romb_m {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    width: 135px;
    height: 135px;
    background:  #BACBDC;
    transform: rotate(45deg);
    margin-top: -75px;
    margin-left: auto;
    margin-right: auto;
}
.logo_logo_m {
    position: relative;
    z-index: 4;
    font-family: 'Puritan', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 22px;
    text-align: center;
    letter-spacing: 0.1em;
        color: black;    
    }
.logo_contacts_m{
    width: 100%;
    max-width: 675px;
    position: relative;
    height: 175px;
}
.logo_m {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 75px;
    transform: rotate(-45deg);
}
.text_main {
    position: relative;
    z-index: 3;
    font-family: 'Ubuntu', sans-serif;
font-style: normal;
font-weight: normal;
line-height: 21px;
font-size: 12px;
text-align: center;
top: 20px;
}
.text_maim_pad {
    margin-bottom: 15px;
}
.text_maim_line {
    line-height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.rombik_m {
        position: relative;
        width: 8px;
        height: 8px;
        background: #FFFFFF;
        transform: rotate(45deg);
}
.button_m {
    top: 10px;
    position: relative;
    z-index: 3;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
   width: 150px;
    height: 45px;
    font-family: 'Ubuntu', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 12px;
text-align: center;
border: 1px solid #FFFFFF;
box-sizing: border-box;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
.education2 {
        background-image: url(../img/img_sea_background.png);
        width: 100%;
        max-width: 1510px;
        color: white;
        position: absolute;
        top: -95vw;
        bottom: 0;
        background-repeat: no-repeat;
        background-size: cover;
   overflow: hidden;
}
.edu_center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 32.5vw;
    padding-bottom: 10px;
    position: relative;
    z-index: 3;
}
.logo2_2 {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 24px;
    color: white;
    padding: 30px;
}
.education2_0 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 10%;
    top: 35vw;
    position: relative;
    z-index: 2;
}
.education_blok {
    background: rgba(0, 0, 0, 0.4);
    width: 450px;
    height: 275px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4%;
    margin: 1%;
}
.kegl_b {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 18px;
}
.kegl_m {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 14px;
}
.line_white {
    color: white;
    text-decoration-line: none;
}
a.line_white:hover {
    text-decoration-line: underline;
}
.rombik {
    position: relative;
    width: 0.8vw;
    height: 0.8vw;
    background: #FFFFFF;
    transform: rotate(45deg);
}
.education2_3 {
    background: rgba(0, 0, 0, 0.4);
    width: 450px;
    height: 275px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4%;
    padding-bottom: 7%;
    margin: 1%;
}    
.ar {
    margin-left: 5px;
}
.education2_m {
    background-image: url(../img/img_sea_background.png);
    width: 100%;
    max-width: 675px;
    color: white;
    position: relative;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: cover;
overflow: hidden;
}
.edu_center_m {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 35px;
position: relative;
z-index: 3;
}
.logo2_2_m{
font-family: 'Ubuntu', sans-serif;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 12px;
color: white;
padding: 30px;
}
.education2_0_m {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-left: 2%;
margin-right: 2%;
margin-bottom: 10%;
margin-top: 2%;
position: relative;
z-index: 2;
}
.education_blok_m {
background: rgba(0, 0, 0, 0.4);
width: 85vw;
height: 55vh;
display: flex;
flex-direction: column;
justify-content: space-between;
padding: 7%;
margin: 3%;
}
.kegl_b_m {
font-family: 'Ubuntu', sans-serif;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 14px;
}
.rombik_m {
position: relative;
width: 11px;
height: 11px;
background: #FFFFFF;
transform: rotate(45deg);
}
.education2_3_m {
background: rgba(0, 0, 0, 0.4);
width: 85vw;
height: 55vh;
display: flex;
flex-direction: column;
justify-content: space-between;
padding: 7%;
padding-bottom: 17%;
margin: 4%;
}    
.ar_m {
margin-left: 5px;
}
.advanteges {
    position: relative;
    width: 100%;
    max-width: 1510px;
    height: 62vw;
    background: #112132;
    overflow: hidden;
}
.seryi_container {
    position: relative;
    width: 26vw;
    height: 26vw;
    background: #778798;
    transform: rotate(-45deg);
    display: flex;
    justify-content: center;
    align-items: center;
    top: 6vw;
    left: 33.3vw;
}
.seryi_flex {
    position: absolute;
    transform: rotate(45deg);
    width: 21vw;
    height: 21vw;
}
.kub3a_seryi {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 21vw;
    height: 21vw;
}
.tex_kub_seryi {
    font-family: 'Ubuntu', sans-serif;
font-style: normal;
font-weight: normal;
line-height: 2vw;
font-size: 1.2vw;
text-align: center;
color: white;
}
.bordo_container {
    transform: rotate(45deg);
    left: 63vw;
    top: 6.5vw;
    position: absolute;
}
.kub3a_bordo {
    position: relative;
    background-color: #432132;
    width: 20vw;
    height: 20vw;
}
.kub_v_kube {
    position: absolute;
    width: 20vw;
    height: 20vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transform: rotate(-45deg);
}
.kubik_vbordo {
    position: absolute;
    width: 2.5vw;
    height: 2.5vw;
    transform: rotate(0deg);
    background: #435465;
    margin: 5%;
}
.logo_vkube3a {
    font-family: 'Ubuntu', sans-serif;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 1.5vw;
text-align: center;
position: relative;
margin-top: 1vw;
color: white;
}
.container_teacher {
    width: 15vw;
    height: 15vw;
    position: relative;
    overflow: hidden;
    transform: rotate(45deg);
    top: -110vw;
    left: 56vw;
}
.foto_teacher {
    top: 30px;
    position: absolute;
    max-width: 100%;
    transform: rotate(-45deg) scale(1.15);
}
.white_teacher {
    width: 2vw;
    height: 2vw;
    background-color: white;
    border: 3px solid white;
}
.blue_teacher {
    width: 4vw;
    height: 4vw;
    background-color: #112132;
    position: relative;
    z-index: 1;
}
.container_cabinet {
    position: relative;
    width: 39vw;
    height: 39vw;
    overflow: hidden;
    transform: rotate(-45deg);
    top: -52vw;
    left: 33vw;
}
.cabinet_foto {
    left: 12vw;
    top: 1vw;
    position: absolute;
    max-width: 100%;
    transform: rotate(45deg) scale(1.5);
}
.container_cup {
    position: relative;
    width: 31vw;
    height: 31vw;
    overflow: hidden;
    transform: rotate(-45deg);
    top: -73vw;
}
.cup_foto {
    position: absolute;
    max-width: 100%;
    transform: rotate(45deg) scale(1.42); 
    left: -70px;
    top: 25px;
}
.container_nature {
    position: relative;
    width: 25vw;
    height: 25vw;
    overflow: hidden;
    transform: rotate(-45deg);
    top: 3vw;
    left: 15vw;
}
.nature_foto {
    left: -5vw;
    top: -5vw;
    position: absolute;
    max-width: 100%;
    transform: rotate(45deg) scale(1.42); 
}
.nature_foto_ {
    position: absolute;
    margin: auto;
    top: 3vw;
    left: 15vw;
}
.kub_vkube_nature {
    width: 7vw;
    height: 7vw;
    background-color: #112132;
    border: 3px solid #112132;
    position: absolute;
}
.container_student {
    position: relative;
    width: 16vw;
    height: 16vw;
    overflow: hidden;
    transform: rotate(-45deg);
    top: -25vw;
    left: 76vw;
}
.kub_vkube_student {
    width: 4vw;
    height: 4vw;
    top: 0;
    left: 0;
    z-index:4;
    background-color: #112132;
    border: 5px solid #112132;
    position: absolute;
}
.student_foto {
    position: absolute;
    max-width: 100%;
    transform: rotate(45deg) scale(1.1);
    top: -5vw;
    left: -2vw;
}
.advanteges_m {
    position: relative;
    width: 100%;
    max-width: 675px;
    height: 600px;
    background: #112132;
    overflow: hidden;
}
.advanteges_rovno_m {
    position: relative;
    width: 100%;
    max-width: 675px;
    margin: auto;
}
.seryi_container_m {
    position: relative;
    top: 290px;
    margin-left: auto;
    margin-right: auto;
    width: 220px;
    height: 220px;
    background: #435465;
    transform: rotate(-45deg);
    display: flex;
    justify-content: center;
    align-items: center;
}
.kubik_ser_b_m {
    position: absolute;
    width: 45px;
    height: 45px; 
    background: #112132;
    top: -1px;
    right: -1px;
}
.kubik_ser_m {
    position: absolute;
    width: 24px;
    height: 24px; 
    background: #BA9898;
    top: 0;
    right: 0;
}
.kubik_ser_bor_m {
    position: absolute;
    width: 33px;
    height: 33px; 
    background: #432132;
    left: 7px;
    top: 7px;
}
.seryi_flex_m {
    position: absolute;
    transform: rotate(45deg);
    width: 220px;
    height: 220px; 
}
.kub3a_seryi_m {
    position: relative;
    top: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 220px;
    height: 150px; 
}
.tex_kub_seryi_m {
    font-family: 'Ubuntu', sans-serif;
font-style: normal;
font-weight: normal;
line-height: 17px;
font-size: 12px;
text-align: center;
color: white;
}
.bordo_container_m {
    background-color: #432132;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: -175px;
    width: 145px;
    height: 145px; 
    transform: rotate(45deg);
    display: flex;
    justify-content: center;
    align-items: center;
}
.kub3a_bordo_m {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 145px;
    height: 145px;
}
.kub_v_kube_m {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 15px;
    left: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transform: rotate(-45deg);
}
.kubik_vbordo_m {
    position: absolute;
    width: 20px;
    height: 20px;
    transform: rotate(0deg);
    background: #435465;
}
.kubik_vbordo_b_m {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0;
    left: 0;
    transform: rotate(0deg);
    background: #112132;
}
.logo_vkube3a_m {
font-family: 'Ubuntu', sans-serif;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 14px;
text-align: center;
position: relative;
padding: 20px;
color: white;
}
.container_student_cabinet_m {
    position: relative;
    top: -185px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container_cabinet_m {
    display: flex;
    position: relative;
    width: 105px;
    height: 105px;
    overflow: hidden;
    transform: rotate(-45deg);
    margin-left: -200px;
}
.cabinet_foto_m { 
    top: -150px;
    left: -50px;
    position: absolute;
    max-width: 100%;
    transform: rotate(45deg) scale(0.48);
}
.kub_vkube_nature_m {
    width: 80px;
    height: 80px;
    background-color: #112132;
    border: 3px solid #112132;
    position: absolute;
}
.container_student_m {
    position: absolute;
    width: 105px;
    height: 105px;
    overflow: hidden;
    transform: rotate(-45deg);
    margin-left: 100px;
}
.kub_vkube_student_m {
    width: 55px;
    height: 55px;
    background-color: #112132;
    border: 3px solid #112132;
    position: absolute;
}
.student_foto_m {
    left: -125px;
    top: -115px;
    position: absolute;
    transform: rotate(45deg) scale(0.47); 
}
.fon_slaider {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;  
    max-width: 1510px;  
    min-height: 670px;
    height: 1px;
    background-image: url(../img/img_sea_background.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.slaider_index {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    padding: 5px;
}
.gradient_slaider {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, rgba(30, 30, 30, 0.8) 0%,
    rgba(16, 16, 16, 0) 54.14%, rgba(16, 16, 16, 0) 54.15%, 
    rgba(2, 2, 2, 0.6) 100%); 
    background-size: contain;   
}
.text_padding {
    padding: 50px;
    color: white;
}
.education4 {
    font-family: 'Ubuntu', sans-serif;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 24px;
text-align: center;   
}
.slaider {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 930px;
    height: 335px;
    background: rgba(0, 0, 0, 0.4);
    font-family: 'Ubuntu', sans-serif;
font-style: normal;
line-height: 25px;
font-size: 18px;
text-align: center;
color: white;
}
.slaider_text {
    width: 690px;
    height: 125px;
}
.rombik_flex {
    width: 20%;
    display: flex;
    justify-content: space-between;
}
.rombik_border {
    position: relative;
    width: 11px;
    height: 11px;
    transform: rotate(45deg);
    border: 1px solid #FFFFFF;
box-sizing: border-box;
}
.container_slaider {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 930px;
}
.container_strelka {
    position: absolute;
    width: 850px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.text_bold {
    font-weight: bold;
    margin: 20px;
}
.text_normal {
    font-weight: normal;
}
.fon_slaider_m {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;  
    max-width: 675px;  
    min-height: 495px;
    height: 1px;
    background-image: url(../img/img_backgound_adaptiv.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.slaider_index_m {
    position: absolute;
    top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}
.gradient_slaider_m {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, rgba(30, 30, 30, 0.8) 0%,
    rgba(16, 16, 16, 0) 54.14%, rgba(16, 16, 16, 0) 54.15%, 
    rgba(2, 2, 2, 0.6) 100%); 
    background-size: contain;   
}
.text_padding_m {
    padding: 30px;
    color: white;
}
.education4_m {
    position: relative;
    font-family: 'Ubuntu', sans-serif;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 14px;
text-align: center;                 
}
.slaider_m {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 80vw;
    height: 210px;
    background: rgba(0, 0, 0, 0.4);
    font-family: 'Ubuntu', sans-serif;
font-style: normal;
line-height: 17px;
font-size: 12px;
color: white;
}
.slaider_text_m {
    width: 218px;
height: 154px;
}
.rombik_flex_m {
    position: relative;
    z-index: 2;
    top: 175px;
    width: 45vw;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.rombik_border_m {
    position: relative;
    width: 11px;
    height: 11px;
    transform: rotate(45deg);
    border: 1px solid #FFFFFF;
box-sizing: border-box;
}
.container_slaider_m {
    position: relative;
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 675px;
    width: 100%;
}
.container_strelka_m {
    position: absolute;
    width: 95vw;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.text_bold_m {
    font-weight: bold;
}
.text_normal_m {
    font-weight: normal;
    margin-top: 20px;
    line-height: 20px;
}
.container_about {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;    
    min-height: 617px;
    height: 1px;
    background-image: url(../img/footer.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.about {
    display: flex;
    justify-content: space-around;
    position: absolute;
    width: 100%; 
    margin-top: 7%;
}
.about1 {
    display: flex;
    align-items: center;
    height: 95px;
}
.about2 {
    display: flex;
    height: 95px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.ikonki {
    width: 175px;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
}
.text_about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 30px;
}
.text_about2 {
font-family: 'Ubuntu', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
color: white;
}
.text_pad {
padding-top: 5px;
}
.about3 {
    height: 95px;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 25px;
    font-size: 18px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.about_footer {
    position: relative;
    width: 100%;
    max-width: 1510px;
    min-height: 617px;
    height: 1px;
}
img.m {
    width: 100%; 
    height: auto; 
}
.logo_text_about {
    font-family: 'Puritan', sans-serif;
    font-style: normal;
font-weight: normal;
line-height: 64px;
font-size: 48px;
letter-spacing: 0.1em;
color: white;
}
.logo_text_about2 {
    font-family: 'Ubuntu', sans-serif;
font-style: normal;
font-weight: normal;
line-height: 25px;
font-size: 18px;
color: white;
}
.container_about_m {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%; 
    max-width: 875px;   
    height: 480px;
    background-image: url(../img/img_footer_adaptiv.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.about_m {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    width: 100%; 
}
.about1_m {
    position: relative;
    top: -90px;
    left: 45px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
}
.ikonki_m {
    position: relative;
    top: 75px;
    display: flex;
    justify-content: space-around;
}
.text_about_m {
    position: relative;
    top: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.about2_m {
    position: relative;
    left: 45px;
    top: -20px;
    height: 90px;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 17px;
    font-size: 12px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.text_pad_m {
    padding-top: 15px;
}
.about_footer_m {
    position: relative;
    width: 100%;
    max-width: 675px;
    min-height: 617px;
    height: 1px;
}
img.m_m {
    width: 100%; 
    height: auto; 
}
.logo_text_about_m {
    font-family: 'Puritan', sans-serif;
    font-style: normal;
font-weight: normal;
line-height: 24px;
font-size: 18px;
letter-spacing: 0.1em;
color: white;
}
.logo_text_about2_m {
    position: relative;
    top: 5px;
    font-family: 'Ubuntu', sans-serif;
font-style: normal;
font-weight: normal;
line-height: 15px;
font-size: 14px;
color: white;
}
.footer {
    position: relative;
    width: 100%;  
    max-width: 1510px;  
    min-height: 340px;
    height: 1px;
    background-image: url(../img/map.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.map {
    width: 100%;
    height: 100%;     
    margin: 0 auto;
    position: absolute;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    background-size: cover;
}
.footer_logo {
    position: relative;
    z-index: 2;
    font-family: 'Puritan', sans-serif;
font-style: normal;
font-weight: normal;
line-height: 32px;
font-size: 24px;
letter-spacing: 0.1em;
color: #000000;
}
.footer_metka {
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 70px;
    left: 370px;
}
.metka {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.kryg {
    position: absolute;
    top: 44px;
}
.footer_m {
    position: relative;
    min-height: 340px;
    width: 100%;  
    max-width: 675px;  
    background-image: url(../img/img_map_adaptiv.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.map_m {
    width: 100%;
    height: 100%;     
    margin: 0 auto;
    position: absolute;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    background-size: cover;
}
.footer_logo_m {
    position: relative;
    z-index: 2;
    font-family: 'Puritan', sans-serif;
font-style: normal;
font-weight: normal;
line-height: 32px;
font-size: 24px;
letter-spacing: 0.1em;
color: #000000;
}
.footer_metka_m {
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
        top: 190px;
    left: 160px;
}
.metka_m {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.kryg_m {
    position: absolute;
    top: 44px;
}
.logo_contacts_c {
    width: 100%;
    max-width: 1510px;
    background-color: white;
    position: relative;
    height: 175px;
}
.contacts_c {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    max-width: 1510px;
    height: 50px;
    color: black;
}
.contacts_text_c {
    display: flex;
    width: 25vw;
    align-items: center;
    justify-content: space-between;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    line-height: normal;
    font-size: 1.2vw;
    padding-right: 50px;
    padding-top: 50px;
}
.menu_tab_c {
    display: table;
    width: 35vw;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    line-height: normal;
    font-size: 1.2vw;
    margin: 0;
    padding: 0;
    padding-top: 50px;
    margin-right: 8vw;
}
.logo_c {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: rotate(-45deg);
    position: relative;
    margin-left: 125px;
    margin-top: 135px;
}
.logo_logo_c {
font-family: 'Puritan', sans-serif;
font-style: normal;
font-weight: normal;
line-height: 32px;
font-size: 24px;
letter-spacing: 0.1em;
    color: black;
}
.romb_c {
    margin-left: 5vw;
    width: 250px;
    height: 250px;
    background: #BA9898;
    transform: rotate(45deg);
    margin-top: -150px;    
    position: absolute;
}
.container_yaziki_c {
    width: 100%;
    max-width: 1510px;
    height: 200px;
    background-color: white;
}
.text_yaziki_c {
    position: absolute;
    font-family: 'Ubuntu', sans-serif;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 1.6vw;
text-transform: uppercase;
left: 11vw;
color: #000000;
}
a.test_c {
    color: #000000;
     text-decoration: none;
}
a.test_c:hover {
    text-decoration: underline;
}
.romb_norv_c {
    margin: auto;
}
.romb_norv_c_1 {
    position: relative;
    width: 13vw;
    height: 13vw;
    transform: rotate(45deg);
    background-color: #BACBDC;
    border: 3px solid #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 13vw;
    left: 25vw;
    overflow: hidden;
}
.romb_norv_c_1:hover {
    z-index: -2; }

  .romb_norv_c_2   {
    position: relative;
    width: 13vw;
    height: 13vw;
    transform: rotate(45deg);
    background-color: #BACBDC;
    border: 3px solid #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 13vw;
    left: 25vw;
    overflow: hidden;
  }
.romb_norv_flex_c { display: none;}
.foto_norv_c {
    position: relative;
    transform: rotate(-45deg);
}
.romb_norv_flex_c {
    width: 13vw;
    height: 8vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transform: rotate(-45deg);
}
.text_yaziki_romb_c {
    position: absolute;
    transform: rotate(-45deg);
    font-family: 'Ubuntu', sans-serif;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 1.3vw;
text-align: center;
text-transform: uppercase;
margin-top: 2vw;
margin-left: 2vw;
color: #FFFFFF;
}
.text_norv_kub_c {
    font-family: 'Ubuntu', sans-serif;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 1.3vw;
text-transform: uppercase;
margin-top: 1vw;
}
.text_norv_kub_2_c {
    font-family: 'Ubuntu', sans-serif;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 1.1vw;
text-align: center;
margin-top: 1vw;
}
.romb_islan_c {
    position: relative;
    width: 13vw;
    height: 13vw;
    transform: rotate(45deg);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 36vw;
    top: -11vw;
}
.romb_islan_c:hover {
    transform: rotate(45deg) scale(1.07);
}
.foto_islan_c {
    position: relative;
    transform: rotate(-45deg);
}
.romb_shved_c {
    position: relative;
    width: 13vw;
    height: 13vw;
    transform: rotate(45deg);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 47vw;
    top: -13vw;
}
.romb_shved_c:hover {
    transform: rotate(45deg) scale(1.07);
}
.foto_shved_c {
    position: relative;
    transform: rotate(-45deg);
}
.romb_fin_c {
    position: relative;
    width: 13vw;
    height: 13vw;
    transform: rotate(45deg);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 58vw;
    top: -37vw;
}
.romb_fin_c:hover {
    transform: rotate(45deg) scale(1.07);
}
.foto_fin_c {
    position: relative;
    transform: rotate(-45deg);
}
.romb_dat_c {
    position: relative;
    width: 13vw;
    height: 13vw;
    transform: rotate(45deg);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 81vw;
    top: -50vw;
}
.romb_dat_c:hover {
    transform: rotate(45deg) scale(1.07);
}
.foto_dat_c {
    position: relative;
    transform: rotate(-45deg);
}
.romb_bordo_c {
    top: -62vw;
    left: 52vw;
    position: relative;
    width: 3vw;
    height: 3vw;
    transform: rotate(45deg);
    background-color: #432132;
}
.romb_setyi_c {
    top: -68vw;
    left: 73vw;
    position: relative;
    width: 6vw;
    height: 6vw;
    transform: rotate(45deg);
    background-color: #435465;
}
.romb_white_c {
    width: 3vw;
    height: 3vw;
    transform: rotate(0deg);
    background-color: white;
    margin-top: -1px;
    margin-left: -1px;
}
.romb_siniy_c {
    width: 2vw;
    height: 2vw;
    transform: rotate(0deg);
    background-color: #112132;
}
.container_yrovni_c {
    width: 100%;
    max-width: 1510px;
    height: 850px;
  width: 100%;  
    max-width: 1510px;  
    min-height: 850px;
    height: 1px;
    background: linear-gradient(181.22deg, #FFFFFF 1.81%, rgba(255, 255, 255, 0.91) 9.04%, rgba(255, 255, 255, 0.41) 31.96%, rgba(160, 166, 173, 0.646) 37.7%, #112132 98.19%), 
    url(../img/img_foto_fon.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.tex_yrovni_c {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
color: #000000;
padding: 20px;
position: relative;
top: 17vw;
}
.flex_yrovni_c {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    top: 250px;
    position: relative;
}
.yrovni_c {
display: flex;
justify-content: center;
align-items: center;
width: 450px;
height: 180px;
background-color: rgba(0, 0, 0, 0.5);
color: white;
margin-left: 10px;
margin-right: 10px;
margin-top: 20px;
margin-bottom: 20px;
}
.yrovni_c:hover {
    transform: scale(1.05);
    background: rgba(0, 0, 0, 0.7);
  }
.znachki_c {
    margin: 10px;
}
.flex_yrovni_text_c {
    width: 350px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}
.text_yrovni_vubor_c {
    font-family: 'Ubuntu', sans-serif;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 18px;
text-transform: uppercase;
margin: 10px;
}
.text_yrovni_vubor2_c {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
font-weight: 300;
line-height: normal;
font-size: 14px;
margin: 10px;
}
.container_raspisanie_c {
    width: 100%;
    max-width: 1510px;
    height: 900px;    
    background-color:#112132;
 }
.tex_raspisanie_c {
        font-family: 'Ubuntu', sans-serif;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 24px;
text-align: center;
text-transform: uppercase;
color: white;
padding: 20px;
}
.tex_raspisanie2_c {
    font-family: 'Ubuntu', sans-serif;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 14px;
text-align: center;
color: white;
}
.flex_raspisanie_c {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;  
}
.raspisanie_c {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 450px;
    height: 270px;
background: white;
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 14px;
text-align: center;
margin-left: 10px;
margin-right: 10px;
margin-top: 25px;
margin-bottom: 30px;
}
.raspisanie_fon_c {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.35),rgba(186, 203, 220, 0.65));
    z-index: 4;
}
.rombiki_raspisanie_c {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.rombiki_raspisanie1_c {
    position: relative;
    margin: 15px;
    transform: rotate(45deg);
    width: 10px;
    height: 10px;
    background-color: #BA9898;
}
.rombiki_raspisanie2_c {
    margin: -5px;
    transform: rotate(45deg);
    position: relative;
    width: 30px;
    height: 30px;
    background-color: #BACBDC;
}
.rombiki_raspisanie3_c {
    display: flex;
    margin: -5px;
    transform: rotate(45deg);
    width: 15px;
    height: 15px;
    background-color:white;
    justify-content: center;
    align-items: center;
    z-index: 3;
    position: relative;
}
.rombiki_raspisanie3_1_c {
    width: 7px;
    height: 7px;
    background-color:#432132;
}
.rombiki_raspisanie4_c {
    margin: 5px;
    transform: rotate(45deg);
    position: relative;
    width: 30px;
    height: 30px;
    background-color: #432132;
    z-index: 2;
    top: -5px;
}
.rombiki_raspisanie5_c {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 5px;
    transform: rotate(45deg);
    width: 44px;
    height: 44px;
    background-color:white;
    top: -15px;
    z-index: 2;
}
.rombiki_raspisanie5_1_c {
    position: absolute;
    width: 35px;
    height: 35px;
    background-color:#435465;
}
.rombiki_raspisanie6_c {
    transform: rotate(45deg);
    width: 38px;
    height: 38px;
    background-color: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    top: -20px;
}
.rombiki_raspisanie6_1_c {
    position: absolute;
    width: 28px;
    height: 28px;
    background-color: #432132;
    z-index: 4;
}
.rombiki_raspisanie7_c {
    margin: 5px;
    transform: rotate(45deg);
        width: 22px;
        height: 22px;
        background-color:#778798;
        position: relative;
        z-index: 2;
        top: -25px;
}
.rombiki_raspisanie8_c {
    position: relative;
     transform: rotate(45deg);
     width: 10px;
     height: 10px;
     background-color: #432132;
     top: -15px;
}
.rombiki_raspisanie_text_c {
    position: relative;
display: flex;
justify-content: space-between;
align-items: flex-start;
width: 300px;
z-index: 4;
}
.yrok_raspisanie_c {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 315px;
    height: 150px;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 14px;
    margin-left: 5px;
}
.rombiki_raspisanie_mesiac_c {
position: relative;
top: -45px;
font-family: 'Ubuntu', sans-serif;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 18px;
text-align: right;
text-decoration-line: underline;
}
.flex_zapisi_c {
    display: flex;
    justify-content: flex-end;
    }
.flex_zapis_c {
position: relative;
bottom: -125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
color: white;
width: 210px;
height: 65px;
border: 1px solid #FFFFFF;
box-sizing: border-box;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.flex_zapis_c:hover {
    transform: scale(1.1);
    border: 2px solid  #BACBDC;
  }
.flex_zapis_text_c {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 135px;
    height: 40px;
    font-family: 'Ubuntu', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 14px;
text-align: center;
text-transform: uppercase;
}
.left_c {
position: absolute;
left:0;
}
.right_c {
    position: absolute;
    right:0;
}
.footer_c {
    position: relative;
    width: 100%;
    max-width: 1510px;
    max-height: 373px;
    height: 373px;
    background-color: #778798;
    color: white;
    font-family: 'Ubuntu', sans-serif;
font-style: normal;
font-weight: normal;
line-height: 25px;
font-size: 18px;
}
.romb_footer_c {
    position: absolute;
    left: -100px;
    top: 125px;
    width: 197px;
    height: 197px;
    transform: rotate(45deg);
    background-color: #BA9898;
} 
.romb_footer_logo_c {
    display: flex;
    align-items: center;
    width: 450px;
    left: 75px;
    top: 75px;
    position: relative;
}
.flex_text_footer_c {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    right: 150px;
    top: -100px;
}
.tex_foter_c {
    color: white;
    font-family: 'Ubuntu', sans-serif;
font-style: normal;
font-weight: normal;
line-height: 25px;
font-size: 18px;
margin-left: 35px;
}
.line_height_c {
    position: relative;
    top: -35px;  
    margin-left: 300px;
}
.margin_c {
    margin-top: 10px;
}
.footer_tex_c {
    position: relative;
    left: 135px;
    top: 75px;
}
@media (min-width: 1510px) {
    .contacts_m {display: none}
    .education2_m {display: none}
    .advanteges_m {display: none}
    .fon_slaider_m {display: none}
    .container_about_m {display: none}
    .footer_m {display: none}
    .rombik {
        width: 11px;
        height: 11px; 
    }
    .conteiner_kybi {
        width: 1000px;
        height: 1000px;        
        left: 100px;
        top: 150px;
    }
    .kub_white {
        width: 450px;
        height: 450px;
       top: 450px;
    }       
    .kub1_bordo {
        height: 450px;
        width: 450px;
    }
    .kub1_seryi {
        width: 36px;
        height: 36px;
    }
    .kub1_belyi {
        width: 75px;
        height: 75px;
        top: -2px;
        left: -2px;
    }
    .bordo_flex {
        width: 480px;
        height: 480px;
    }
    .kub1_bordo_text {
    line-height: 31px;
    font-size: 18px;
    margin-top: -25px;
    }
    button {
        margin-top: 25px;
        width: 210px;
        height: 45px;
        line-height: 31px;
       font-size: 18px;
    }   
    .kub2_svser {
        height: 206px;
        width: 206px;
       right: -206px;
        top: 95px;
    }
    .kybiki_svser {
        width: 206px;
        height: 206px;
    }
    .kybiki_svser1 {
        width: 25px;
        height: 25px;
    }
    .kybiki_svser2 {
            width: 50px;
           height: 50px;
    }
    .kub2_text {
       font-size: 18px;
        width: 137px;
        height: 213px;
    }
    .kub_foto_girl {
        width: 620px;
        height: 620px;
        left: 700px;
        margin-right: 50px;
        margin-bottom: 300px;
        margin-top: -350px;
        margin-left: -265px;
    }
    .foro_girl {
        top: -55px;
        left: -125px;
    }
    .kub3_svser {
        width: 60px;
        height: 60px;
    }
    .kub_foto_house {
        width: 200px;
        height: 200px;
    }
    .foto_house{
        top: -35px;
        left: -60px;
    }
    .kyb_fon_white {
        width: 600px;
        height: 600px;    
        left: 125px;
        top: -550px;
    }
    .kyb_fon_white2 {
        width: 600px;
        height: 600px;      
        left: 1225px;
        top: -1125px;
    }
    .education2 {
        top: -1450px;
    }
    .advanteges {
        height: 925px;
    }   
    .seryi_container {
        width: 400px;
        height: 400px;
        top: 85px;
        left: 515px;
    }
    .seryi_flex {
        width: 303px;
        height: 303px; 
    }
    .kub3a_seryi {
        width: 303px;
        height: 303px; 
    }
    .tex_kub_seryi {
    line-height: 25px;
    font-size: 18px;
    }
    .kub3a_bordo {
        width: 310px;
        height: 310px;
    }
    .kub_v_kube {
        width: 310px;
        height: 310px;
    }
    .kubik_vbordo {
        width: 45px;
        height: 45px;
    }
    .logo_vkube3a {
    font-size: 24px;
    margin-top: 5px;
    }
    .bordo_container {
        left: 975px;
        top: 100px;  
    }
    .container_teacher {
        width: 228px;
        height: 228px;
        bottom: 100px;
        left: 200px;  
        top: -1675px;
        left: 855px;
    }
    .foto_teacher {
      top: 30px;
    }
    .white_teacher {
        width: 30px;
        height: 30px;
    }
    .blue_teacher {
        width: 60px;
        height: 60px
    }
    .container_cabinet {
        width: 600px;
        height: 600px;
        top: -775px;
        left: 510px;
    }
    .cabinet_foto {
        left: 250px;
        top: -10px;
    }
    .container_cup {
        width: 450px;
        height: 450px;
        top: -1100px;
    }
    .cup_foto {
        left: -70px;
        top: 25px;
    }
    .container_nature {
        width: 400px;
        height: 400px;
        top: 40px;
        left: 240px;
    }
    .nature_foto {
        left: -50px;
        top: -50px;
     transform: rotate(45deg) scale(1.42); 
    }
    .kub_vkube_nature {
        width: 80px;
        height: 80px;
    }
    .container_student {
        width: 250px;
        height: 250px;
        top: -375px;
        left: 1150px;
    }
    .kub_vkube_student {
        width: 55px;
        height: 55px;
    }
    .student_foto {
        top: -70px;
        left: -35px; 
    }
}
@media (max-width: 1600px) and (min-width: 1450px) {
    .contacts_m {display: none}
    .education2_m {display: none}
    .advanteges_m {display: none}
    .fon_slaider_m {display: none}
    .container_about_m {display: none}
    .footer_m {display: none}
   
}
@media (max-width: 1450px) and (min-width: 1300px) {
    .contacts_m {display: none}
    .education2_m {display: none}
    .advanteges_m {display: none}
    .fon_slaider_m {display: none}
    .container_about_m {display: none}
    .footer_m {display: none}
    .nature_foto {
        top: -9vw;
        left: -7vw;
       transform: rotate(45deg) scale(1.2);
    }
    .student_foto {
        transform: rotate(45deg) scale(1);
        top: -7vw;
        left: -3vw;
    }
    .foto_teacher {
        left: -1vw;
        top: 1vw;
        transform: rotate(-45deg) scale(1.1);
        }
    .tex_kub_seryi {
        font-size: 1.3vw;
    }
}
@media (max-width: 1300px) and (min-width: 1125px) {
    .contacts_m {display: none}
    .education2_m {display: none}
    .advanteges_m {display: none}
    .fon_slaider_m {display: none}
    .container_about_m {display: none}
    .footer_m {display: none}
    .contacts_text {width: 45%;}
    .foro_girl {
        transform: rotate(-45deg) scale(0.8);
        top: -10vw;
        left: -14vw;
    }
    .nature_foto {
        top: -11vw;
        left: -8vw;
        transform: rotate(45deg) scale(1.1);
    }
    .student_foto {
        transform: rotate(45deg) scale(0.95);
        top: -8vw;
        left: -4vw;
    }
    .foto_teacher {
        top: 0.5vw;
        left: -1.5vw;
        transform: rotate(-45deg) scale(0.9);
        }
   .cup_foto {
        transform: rotate(45deg) scale(1.1);
        left: -6vw;
        top: -5vw;
    }
    .tex_kub_seryi {
        font-size: 1.4vw;
     }
}
@media (max-width: 1125px) and (min-width: 1000px) {
    .contacts_m {display: none}
    .education2_m {display: none}
    .advanteges_m {display: none}
    .fon_slaider_m {display: none}
    .container_about_m {display: none}
    .footer_m {display: none}
    .contacts_text {width: 50%;}
    .foro_girl {
        transform: rotate(-45deg) scale(0.75);
        top: -13vw;
        left: -18vw;
    }
    .nature_foto {
        top: -15vw;
        left: -9vw;
        transform: rotate(45deg) scale(1.0);
    }
    .student_foto {
        transform: rotate(45deg) scale(0.9);
        top: -9vw;
        left: -5vw;
    }
    .foto_teacher {
        top: 0.5vw;
        left: -1.5vw;
        transform: rotate(-45deg) scale(0.85);
        }
   .cup_foto {
        transform: rotate(45deg) scale(1.1);
        left: -7vw;
        top: -5vw;
    }
    .cabinet_foto {
        left: 9.5vw;
        top: -4vw;
        transform: rotate(45deg) scale(1.25);
    }
    .tex_kub_seryi {
        font-size: 1.5vw;
     }
}
@media (max-width: 1100px) and (min-width: 875px) {
    .contacts_m {display: none}
    .education2_m {display: none}
    .advanteges_m {display: none}
    .fon_slaider_m {display: none}
    .container_about_m {display: none}
    .footer_m {display: none}
    .contacts_text {width: 55%;}
    .menu {font-size: 16px;}
}
@media (max-width: 1000px) and (min-width: 875px) {
    .contacts_m {display: none}
    .education2_m {display: none}
    .advanteges_m {display: none}
    .fon_slaider_m{display: none}
    .container_about_m {display: none}
    .foro_girl {
        transform: rotate(-45deg) scale(0.65);
        top: -19.5vw;
        left: -23.5vw;
    }
    .footer_m {display: none}
        .about {
            width: 97%
        }
        .text_about {
            padding-left: 15px;
        }
        .text_about2 {font-size: 16px;}
        .about3 {font-size: 16px;}
        .slaider {
        width: 800px;
        }
       .container_strelka {
        width: 700px;
       }
       .slaider_text {
        width: 550px;
        height: 125px;      
    }
    .nature_foto {
        top: -19vw;
        left: -9vw;
        transform: rotate(45deg) scale(0.9);
    }
    .student_foto {
        transform: rotate(45deg) scale(0.85);
        top: -13vw;
        left: -8vw;
    }
    .foto_teacher {
        top: -1.9vw;
        left: -2.4vw;
        transform: rotate(-45deg) scale(0.75);
        }
   .cup_foto {
    transform: rotate(45deg) scale(1.0);
    left: -10vw;
    top: -10vw;
    }
    .cabinet_foto {
        left: 10vw;
        top: -12vw;
        transform: rotate(45deg) scale(1.1);
    }
    .tex_kub_seryi {
       font-size: 1.6vw;
    }
}
@media (max-width: 875px) and (min-width: 675px) {
    .contacts_m {display: none}
    .education2_m {display: none}
    .advanteges_m {display: none}
    .fon_slaider_m{display: none}
    .container_about {display: none}
    .footer_m {display: none}
    .foro_girl {
        transform: rotate(-45deg) scale(0.55);
        top: -26vw;
        left: -33vw;
    }
    .contacts_text {
        align-items: flex-end;
        margin-left: 57vw;
        flex-direction: column;
        width: auto;
    }
    .menu_tab {
        width: 65%;
    }
    .contacts {
        flex-direction: column;
        align-items: flex-start;
    }
    .logo {
        display: flex;
        padding-left: 0;
    }
    .slaider {
        width: 600px;
        font-size: 16px;
        }
       .container_strelka {
        width: 550px;
       }
       .slaider_text {
        width: 450px;
        height: 120px;
    }
    .nature_foto {
        top: -25vw;
        left: -7vw;
        transform: rotate(45deg) scale(0.7);
    }
    .student_foto {
        transform: rotate(45deg) scale(0.6);
    top: -17vw;
    left: -5vw;
    }
    .foto_teacher {
        top: -3vw;
        left: -2.65vw;
        transform: rotate(-45deg) scale(0.65);
        }
   .cup_foto {
    transform: rotate(45deg) scale(0.90);
    left: -12vw;
    top: -16vw;
    }
    .cabinet_foto {
        left: 1vw;
        top: -23vw;
        transform: rotate(45deg) scale(1.0);
    }
    .tex_kub_seryi {
       font-size: 1.7vw;
    }
}
@media (max-width: 675px) and (min-width: 360px) {
    .contacts { display: none }  
    .logo {display: none }  
    .menu {display: none }
    .conteiner_kybi {display: none}
    .kyb_fon_white {display: none }
    .kyb_fon_white2 {display: none }
    .container_rovno_fon {display: none}
    .advanteges {display: none}
    .fon_slaider {display: none}
    .container_about {display: none}
    .footer_m {display: none}
}
@media (max-width: 360px) {
    .contacts { display: none }  
    .logo {display: none }  
    .menu {display: none }
    .conteiner_kybi {display: none}
    .kyb_fon_white {display: none }
    .kyb_fon_white2 {display: none }
    .container_rovno_fon {display: none}
    .advanteges {display: none}
    .fon_slaider {display: none}
    .container_about {display: none}
    .footer {display: none}
}
@media (min-width: 1550px) {
    .contacts_text_c {font-size: 1.1vw;}
    .menu_tab_c {font-size: 1.1vw;}
}
@media (max-width: 1550px) and (min-width: 1450px) {
    .menu_tab_c {width: 37vw;}
}
@media (min-width: 1400px) {    
    .romb_norv_c { 
        position: relative;
        width: 180px;
        height: 180px;
        top: 175px;
        left: 350px;
    }
    .romb_norv_flex_c {
        width: 180px;
        height: 100px;
    }
    .text_yaziki_romb_c {
    font-size: 18px;
    margin-top: 25px;
        margin-left: 25px;
    }
    .text_norv_kub_c {
    font-size: 18px;
    margin-top: 15px;
    }
    .text_norv_kub_2_c {
    font-size: 14px;
    margin-top: 15px;
    }
    .romb_islan_c {
        width: 180px;
        height: 180px;
      left: 500px;
        top: -150px;
    }
    .romb_shved_c {
        width: 180px;
        height: 180px;
        left: 650px;
        top: -185px;
    }
    .romb_fin_c {
        width: 180px;
        height: 180px;
        left: 800px;
        top: -510px;
    }
    .romb_dat_c {
        width: 180px;
        height: 180px;
        left: 1100px;
        top: -690px;
    }
    .romb_bordo_c {
        top: 225px;
        left: 715px;
        position: absolute;
        width: 47px;
        height: 47px;
    }
    .romb_setyi_c {
        top: 185px;
        left: 1000px;
        position: absolute;
        width: 80px;
        height: 80px;
    }
    .romb_white_c {
        width: 37px;
        height: 37px;
        margin-top: -1px;
        margin-left: -1px;
    }
    .romb_siniy_c {
        width: 27px;
        height: 27px;
    }
    .tex_yrovni_c {top: 250px;}
}
@media (max-width: 1600px) and (min-width: 1450px) {
    .yrovni_c {width: 450px; height: 200px;}
    .raspisanie_c {width: 450px;}
}
@media (max-width: 1450px) and (min-width: 1300px) {
    .yrovni_c {width: 400px; height: 200px;}
    .raspisanie_c {width: 400px;}
    .flex_zapis_c {        width: 175px; }
    .line_height_c { margin-left: 250px;   }
}
@media (max-width: 1300px) and (min-width: 1200px) {
    .contacts_text_c {font-size: 1.3vw;}
    .menu_tab_c {font-size: 1.3vw;}
    .romb_c {margin-left: 4vw;}
    .yrovni_c {width: 350px; height: 225px;}
    .flex_yrovni_text_c { width: 335px;   height: 155px;}
    .raspisanie_c {width: 350px;}
    .rombiki_raspisanie_text_c {width: 250px;}
    .flex_zapis_c { width: 165px;}
    .line_height_c { margin-left: 200px;   }
    .flex_text_footer_c {    right: 100px;}
}
@media (max-width: 1200px) and (min-width: 1000px) {
    .contacts_text_c {font-size: 1.3vw;}
    .menu_tab_c {font-size: 1.3vw;}
    .romb_c {margin-left: 3vw;}
    .text_yaziki_c {left: 12vw;}
    .yrovni_c {width: 300px; height: 235px;}
    .flex_yrovni_text_c {  width: 325px;  height: 165px;}
    .text_yrovni_vubor2_c {    font-size: 13px; }
    .raspisanie_c {width: 300px;}
    .rombiki_raspisanie_text_c {width: 225px;}
    .rombiki_raspisanie_mesiac_c {font-size: 15px;}
    .yrok_raspisanie_c {font-size: 13px;}
    .flex_zapis_c {        width: 145px;    }
    .line_height_c { margin-left: 100px;   }
    .flex_text_footer_c {    right: 55px;}
}
@media (max-width: 1000px) and (min-width: 850px) {
    .contacts_text_c {font-size: 1.4vw; width: 27vw;}
    .menu_tab_c {font-size: 1.4vw;}
    .romb_c {margin-left: 3vw;}
    .text_yaziki_c {left: 13vw;}
    .container_yrovni_c { height: 1000px;}
    .yrovni_c {width: 400px;}
    .container_raspisanie_c {height: 1200px;}
    .raspisanie_c {width: 400px;}   
    .flex_zapis_c {width: 190px;}
    .line_height_c { margin-left: 75px;   }
    .flex_text_footer_c {    right: 35px;}
} 
@media (max-width: 850px) and (min-width: 700px) {
    .contacts_text_c {font-size: 1.5vw; width: 28vw;}
    .menu_tab_c {font-size: 1.5vw;}
    .romb_c {margin-left: 4vw;}
    .text_yaziki_c {left: 14vw;}
    .container_yrovni_c { height: 1650px;}
    .yrovni_c {width: 650px;}
    .raspisanie_c {width: 650px;}
    .container_raspisanie_c {height: 2200px;}
    .flex_zapis_c {width: 265px;}
    .line_height_c { margin-left: 25px;   }
    .flex_text_footer_c {    right: 15px;}
} 
@media (max-width: 700px) and (min-width: 600px) {
    .contacts_text_c {font-size: 1.6vw;width: 29vw;}
    .menu_tab_c {font-size: 1.6vw;}
    .romb_c {margin-left: 4vw;}
    .text_yaziki_c {left: 15vw;}
    .yrovni_c {width: 550px;}
    .raspisanie_c {width: 550px;}
    .line_height_c { margin-left: 25px;   }
    .flex_text_footer_c {    right: 10px;}
} 